<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flappygo.flappyim">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />




    <application
        android:usesCleartextTraffic="true">

        <!-- 注册的监听 -->
        <receiver
            android:name=".Receiver.ActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="com.szieo.foodtable" />
            </intent-filter>
        </receiver>

        <!-- 服务端服务,用于通讯 -->
        <!--<service
            android:name=".Service.FlappyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.flappygo.flappyim.Service.FlappySocketService" />
            </intent-filter>
        </service>-->


    </application>


</manifest>

